In [1]:
import pandas as pd

*Задачи*
Импортируйте библиотеку pandas как pd. Загрузите два датасета user_data и logs. Проверьте размер таблицы, типы переменных, наличие пропущенных значений, описательную статистику.
Какой клиент совершил больше всего успешных операций? (success == True)
С какой платформы осуществляется наибольшее количество успешных операций?
Какую платформу предпочитают премиальные клиенты?
Визуализируйте распределение возраста клиентов в зависимости от типа клиента (премиум или нет)
Постройте график распределения числа успешных операций
Визуализируйте число успешных операций, сделанных на платформе computer, в зависимости от возраста, используя sns.countplot (x – возраст, y – число успешных операций). Клиенты какого возраста совершили наибольшее количество успешных действий?
 

Описание данных
user_data:

client – идентификатор пользователя
premium – является ли клиент премиальным
age – возраст
logs:

client – идентификатор пользователя
success – результат (успех – 1, нет – 0)
platform – платформа
time – время в формате Unixl

In [3]:
us = pd.read_csv(
    'https://stepik.org/media/attachments/lesson/360348/user_data.csv')

In [13]:
us.sort_index()

      client  premium  age
0      46346    False   58
1       4391    False   55
2      27372    False   64
3      11989    False   44
4      60664    False   49
...      ...      ...  ...
2949   19411    False   29
2950   61579    False   50
2951   61221     True   64
2952   29863    False   46
2953   78499    False   36

[2954 rows x 3 columns]

In [35]:
lg = pd.read_csv('https://stepik.org/media/attachments/lesson/360348/logs.csv')

In [40]:
lg['time'] = pd.to_datetime(lg['time'],format='%m%d%Y')
lg

      client  success  platform                          time
0      40177     True     phone 1970-01-01 00:00:01.585412212
1      61468     True     phone 1970-01-01 00:00:01.585425658
2      35604    False     phone 1970-01-01 00:00:01.585459894
3       9961     True     phone 1970-01-01 00:00:01.585400189
4      10931     True  computer 1970-01-01 00:00:01.585468629
...      ...      ...       ...                           ...
4495   64496    False  computer 1970-01-01 00:00:01.585459072
4496   73299     True     phone 1970-01-01 00:00:01.585458370
4497    8967     True     phone 1970-01-01 00:00:01.585465121
4498   52880    False     phone 1970-01-01 00:00:01.585455362
4499   40921     True     phone 1970-01-01 00:00:01.585437692

[4500 rows x 4 columns]