In [1]:
import pandas as pd
import numpy as np

In [2]:
# data = pd.read_csv('https://stepik.org/media/attachments/course/4852/titanic.csv')
data = pd.read_csv('https://stepik.org/media/attachments/course/4852/StudentsPerformance.csv')

In [3]:
data.shape

(1000, 8)

**Запрос query**


У какой доли студентов из датасэта в колонке lunch указано free/reduced?

Формат ответа десятичная дробь, например, 0.25

In [4]:
data['lunch'].value_counts(normalize=True)

standard        0.645
free/reduced    0.355
Name: lunch, dtype: float64

Как различается среднее и дисперсия оценок по предметам у групп студентов со стандартным или урезанным ланчем?

In [7]:
data_student = pd.read_csv('https://stepik.org/media/attachments/course/4852/StudentsPerformance.csv')

In [9]:
data_student.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [13]:
data_student = data_student.rename(columns={
    'gender': 'gender', 'race/ethnicity': 'race/ethnicity', 
    'parental level of education': 'parental_level_of_education', 
    'lunch': 'lunch', 'test preparation course': 'test_preparation_course', 
    'math score': 'math_score', 
    'reading score': 'reading_score', 'writing score': 'writing_score'})

In [19]:
data_student.describe()

       math_score  reading_score  writing_score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000