In [1]:
import pandas as pd

Строка names содержит имена в формате 'Name1 Surname1, Name2 Surname2, …'.
Поместите в переменную names_list список со строками имён – ['Name1 Surname1', 'Name2 Surname2', …]

- **Как это сделать?**
    
    Воспользуйтесь методом `split` у строк
    
- **Разделение строк по разделителю**
    
    Чтобы разделить строку по разделителю нужно вызвать метод `split` от этой строки
    
    ```python
    string.split(sep)
    ```
    
    Где
    
    - `string` - строка, которую вы будете делить
    - `split` - метод split
    - `sep` - строчка, по которой вы будете делить строку string
    
    Например,
    
    ```python
    'Hello-World!'.split('-')
    ```
    
    даст список `['Hello', 'World!']`
    
    То есть исходная строка будет разделена по дефису
    
- **Посмотреть разбор**
    
    Посмотреть разбор задания можно по ссылке [https://youtu.be/4l75L_qSMKE](https://youtu.be/4l75L_qSMKE)

In [14]:
names = 'Name1 Surname1, Name2 Surname2'

In [15]:
names_list = list(names.upper().split(', '))

In [16]:
names_list

['NAME1 SURNAME1', 'NAME2 SURNAME2']

В переменной `df` содержатся данные следующего вида:

![](https://ucarecdn.com/46eb9638-0fb3-457f-a9b9-80187b100547/)

Отберите из них только те, где `wealth` принимает значение 'medium', а возраст составляет больше 35. Поместите результат в переменную `medium_35`

- **А что делать здесь?**
    
    Воспользуйтесь методом `query`, чтобы отобрать строки по нужным условиям
    
- **Использование query**
    
    Метод `query` принимает запрос в виде строки. 
    
    Например,
    
    ```python
    df.query('column1 > 5')
    ```
    
    Отберёт строки, где значения в колонке `column1` больше `5`
    
- **Как отобрать строки по нескольким условиям?**
    
    Для этого укажите несколько выражений внутри метода `query` и соедините их логическими операторами. Например, такой код
    
    ```python
    df.query('column1 > 10 and column2 < 5')
    ```
    
    Отберёт из `df` только те строки, где значение в `column1` больше `10` и значение в `column2` меньше `5`
    
- **Как отбирать строки по равенству питоновской строке?**
    
    Как вы помните, в `query` подаётся строка-запрос, что же делать, если внутри должна быть ещё строка? Просто обособьте её другими кавычками, к примеру
    
    ```python
    df.query('column1 == "Sveta"')
    ```
    
    Отберёт строки, где в `column1` находится строка `Sveta`
    
- **Я всё сделал(а), но задание не принимается!**
    
    А вы точно задали результат в переменную `medium_35`?
    
- **Посмотреть разбор**
    
    Посмотреть разбор задания можно по ссылке [https://youtu.be/e3xGSeYlSEI](https://youtu.be/e3xGSeYlSEI)

In [2]:
medium_35 = df.query('wealth == "medium" and age > 35')

NameError: name 'df' is not defined

Ваш коллега-новичок перепутал названия колонок в таблице `df` из предыдущих заданий и прислал вам такой вариант:

![](https://ucarecdn.com/e6eb7af1-3ef7-400f-9b56-0c9ee3e17d71/)

Воспользуйтесь методом `rename` и приведите таблицу к более каноничному виду, сохранив её в ту же самую переменную `df`.

![](https://ucarecdn.com/46eb9638-0fb3-457f-a9b9-80187b100547/)

*Note: колонка называется 'Клиент id' - шрифт плохо передаёт кейс i в id*

In [ ]:
df = pd.DataFrame({'Клиент id': [902, 6722, 8799, 5208, 5209],
    'Пол':[1, 1, 1, 0, 0],
    'Благосостояние': ['medium', 'high', 'high', 'low', 'medium'],
    'Возраст': [63, 54, 62, 54, 37]})

In [ ]:
df = df.rename(columns={'Клиент id': 'client_id', 'Пол': 'sex', 'Благосостояние': 'wealth', 'Возраст': 'age'})

In [ ]:
df

Добавьте в исследуемый нами датафрэйм `df` колонку `older_than_30`, в которой будет храниться информация о том, старше ли клиент 30 лет или нет (булиновское значение).
![](https://ucarecdn.com/46eb9638-0fb3-457f-a9b9-80187b100547/)

In [ ]:
df['older_than_30'] = df.age > 30

In [ ]:
df

А теперь получите серию с числом уникальных значений для каждой колонки и присвойте её переменной `unique_num`

![](https://ucarecdn.com/46eb9638-0fb3-457f-a9b9-80187b100547/)

Данные, как обычно, хранятся в `df`
- **Что делать в этом задании?**
    
    ~~Используй силу, Люк~~ Используйте метод `nunique`, чтобы получить число уникальных значений для каждой колонки
    
- **Как применять методы**
    
    Для применения методов нужно написать переменную, где у вас хранится объект, от которого вы хотите извлечь метод, поставить точку и написать название метода, а затем в скобках параметры вызова. Например запись
    
    ```python
    df.some_method()
    ```
    
    Вызовет метод `some_method` от объекта в переменной `df` (например датафрэйма) без каких-либо дополнительных параметров
    
    Чтобы применить метод с параметрами, просто укажите его, к примеру
    
    ```python
    df.some_method(x=5)
    ```
    
    Вызовет метод `some_method` от объекта в переменной `df` с параметром `x` равным `5`
    
- **Посмотреть разбор**
    
    Посмотреть разбор задания можно по ссылке [https://youtu.be/6G8Sr31vgaE](https://youtu.be/6G8Sr31vgaE)

In [ ]:
unique_num = df.nunique()

In [ ]:
unique_num

У нас появились новые данные! Переменная `data` хранит в себе датафрейм следующего вида:

![](https://ucarecdn.com/abdf7c01-a13a-4075-bb5a-595bde5d55ef/)

Проведите inner join датафрейма `data` с `df` из предыдущего шага, объединив их по колонке `client_id`, и поместите результат в переменную `full_data` (да, придумывать переменные иногда бывает сложно).

Предыдущий датафрейм загружен в переменную `df`, новый – в `data`

- **Как делать джойн**
    
    Для применения джойна по колонкам 2-ух датафрэймов используйте метод `merge`. Он принимает 2-ой датафрэйм. Также можно указать по какой колонке объединять и как. Например,
    
    ```python
    df.merge(other_df, on='same_column', how='inner')
    ```
    
    Где
    
    `other_df` - другой датафрэйм
    
    `on` - параметр, принимающий название общей колонки в 2-ух дф, по которой нужно объединять
    
    `how` - параметр, принимающий тип джойна
    
    То есть тут мы объединили `df` с `other_df` по колонке `same_column` иннер джойном

In [ ]:
data = pd.DataFrame({"client_id": [5392, 9581, 7250, 8619, 6573], 
                     'amount': [42331, 88420, 1714, 80572, 57549], 
                     'data': [158542830, 1585429536, 1585427761, 1585427077,15854226290]})

In [ ]:
full_data = data.merge(df, on='client_id', how='inner')

In [ ]:
full_data

А теперь создадим свою собственную функцию! Напишите функцию `read_n_agg`, которая:

1. принимает на вход один параметр – путь к файлу
2. считывает переданный файл, в котором разделителем является `;`
3. считает средний заработок (`income`) по каждой компании (`company`), перенося колонку `company` в индекс (`as_index=True`)
4. возвращает результат этих действий (агрегированный датафрэйм)

Скачать датасет можно [отсюда](https://stepik.org/media/attachments/lesson/359209/companies.csv).

Данные выглядят следующим образом:

![](https://ucarecdn.com/8a8350bf-521b-4047-9f46-1b26f546082a/)

P.S. Небольшое уточнение – менять что-то в данных или переименовывать колонки не нужно.

- **Как прочитать данные**
  
  Воспользуйтесь функцией `read_csv` из пандаса, чтобы считать данные по ссылке к ним
  
  Например,
  
  ```python
  df = pd.read_csv('[<https://my.site/data.csv>](<https://my.site/data.csv>)')
  ```
  
  Считает данные, хранящиеся по ссылке `https://my.site/data.csv`
  
- **Как делать группировку?**
  
  Для этого существует метод `groupby` - его вызов группирует строки по значениям в какой-то колонке (или комбинации значений из нескольких колонок). Например,
  
  ```python
  df.groupby('pickup_month')
  ```
  
  Сгруппирует данные датафрэйма `df` по колонке `pickup_month` - то есть строки с месяцем январь в колонке `pickup_month` будут в отдельной колонке от строк с месяцем май. Сама по себе группировка не вычисляет что-то по группам
  
- **Что делать после группировки**
  
  После группировки нужна агрегация методом `agg` или применение `apply` (об этом будет позже). Чтобы посчитать общее число поездок в каждой из групп, используйте метод `agg` с функцией `sum`. А затем возьмите район с максимальным числом поездок
  
- **Как сделать агрегацию?**
  
  Метод `agg` принимает словарь, где в качестве ключей указаны названия колонок, а значениями являются функции, которые нужно применить к колонке-ключу в каждой группе. К примеру, этот код
  
  ```python
  df.groupby('pickup_month') \\
  .agg({'temp': 'sum'})
  ```
  
  Сгруппирует строки по значению в колонке `pickup_month` (месяц поездки) и посчитает в каждой группе сумму по колонке `temp`
  
- **Создание функций**
  
  Чтобы сделать функцию напишите её `заголовок` и `тело`
  
  ```python
  заголовок:
      тело
  ```
  
  Пример заголовка:
  
  ```python
  def func_name(parameter):
  ```
  
  Подробнее о том, что здесь написано в конспекте
  
  Пример тела функции:
  
  ```python
  multiplied = parameter * 10
  return multiplied
  ```
  
  Тело функции - это любой код с переменными, которые заданы как параметры в заголовке функции (parameter в примере в круглых скобках).
  
  `return` возвращает из функции какое-то значение так, что вызов функции можно записать в переменную (ниже об этом)
  
  Работа с функциями состоит из 2-ух частей - определение функции и её вызовы. Определение - это создание функции, а вызов - её использование
  
  Создание функции:
  
  ```python
  # Function definition
  def func_name(parameter):
      multiplied = parameter * 10
      return multiplied
  ```
  
  Вызов функции:
  
  ```python
  beautiful_numbers = 10
  
  # Function call
  # beautiful_numbers == parameter
  result = func_name(beautiful_numbers) # multiplied from function will be returned
  ```
  
  В данном примере `beautiful_numbers` является параметром для вызова функции
  
  Результатом вызова функции является переменная `result`
  
  ```python
  result = 100
  ```
  
- **Моя функция ничего не выдаёт!**
  
  А вы добавили в функцию `return`? Добавьте его в конце и напишите там то, что вы хотите вернуть из функции
  
- **Посмотреть разбор**
  
  Посмотреть разбор задания можно по ссылке [](https://youtu.be/2ll9K17G-sk)[3.7 Функция, агрегирующая данные из файла - YouTube](https://youtu.be/2ll9K17G-sk)

In [ ]:
def read_n_agg(pan):
    df = pd.read_csv(pan, sep=';')
    res = df.groupby('company')\
            .agg({'income': 'mean'})
    return res                                        

read_n_agg("https://stepik.org/media/attachments/lesson/359209/companies.csv")

Вернёмся к данным о поездках на такси. На этот раз – из Перу, с рейтингами водителей, пассажиров, координатами, и парой других деталей!

journey_id – уникальный id поездки

user_id – id пользователя

driver_id – id водителя

taxi_id – id машины

icon – тип поездки

start_type – тип заказа (asap, reserved, delayed)

start_at – время начала поездки

start_lat – исходное местоположение пользователя, широта

start_lon – исходное местоположение пользователя, долгота

end_at – время окончания поездки

end_lat – итоговое местоположение, широта

end_lon – итоговое местоположение, долгота

end_state – состояние заказа

driver_start_lat – исходное местоположение водителя, широта

driver_start_lon – исходное местоположение водителя, долгота

arrived_at – время прибытия водителя

source – платформа, с которой сделан заказ

driver_score – оценка водителя клиентом

rider_score – оценка клиента водителем

Импортируйте pandas как pd. Загрузите датасет, используя ; в качестве разделителя. Также укажите, что столбцы start_at, end_at, arrived_at нужно прочитать как даты (параметр parse_dates). Результат запишите в taxi.

Может пригодиться:

read_csv()
- **Как считать данные**
    
    Воспользуйтесь функцией `read_csv` из пандаса, чтобы считать данные по ссылке к ним
    
    Например,
    
    ```python
    df = pd.read_csv('[https://my.site/data.csv](https://my.site/data.csv)')
    ```
    
    Считает данные, хранящиеся по ссылке `https://my.site/data.csv`
    
- **Считывание столбцов как даты**
    
    Чтобы считать колонки как даты, а не как строки или числа, укажите список с названиями/индексами этих столбцов в параметре `parse_dates` в `read_csv`, например
    
    ```python
    pd.read_csv(path, parse_dates=['some_date', 'another_date'])
    ```
    
    Считает данные по пути `path` и распарсит колонки `some_date`, `another_date` как дату
    
- **Посмотреть разбор**
    
    Посмотреть разбор задания можно по ссылке [https://youtu.be/_4vMHyl48sA](https://youtu.be/_4vMHyl48sA)

In [5]:
import pandas as pd
taxi = pd.read_csv('https://stepik.org/media/attachments/lesson/359240/taxi_peru.csv', sep=';',parse_dates=['start_at', 'end_at', 'arrived_at'])

Проверьте, с какой платформы было сделано больше всего заказов. В ответе укажите значение в %, округлённое до целого.
- **Как сделать это задание?**
    
    Достаточно взять колонку `source` и посчитать частоту встречания каждой платформы с помощью `value_counts`. А затем отобрать максимальную, перевести в проценты и округлить с помощью метода `round`
    
- **Как получить долю, а не число встречаний?**
    
    Обратите внимание на параметры `value_counts` из документации (`normalize`)
    
- **Как перевести в проценты**
    
    Для этого нужно умножить долю на 100
    
- **Округление**
    
    Для округления возьмите метод `round`, он действует так
    
    ```python
    df.column1.round(3)
    ```
    
    Такая запись округлит значения в колонке `column1` до 3-его знака
    
- **Посмотреть разбор**
    
    Посмотреть разбор задания можно по ссылке [https://youtu.be/_BmtfxrAHik](https://youtu.be/_BmtfxrAHik)

In [6]:
taxi.source\
    .value_counts(normalize=True)\
    .mul(100)\
    .round()\
    .max()\

SyntaxError: unexpected EOF while parsing (Temp/ipykernel_800/1498386760.py, line 5)

In [7]:
taxi.source.value_counts(normalize=True).mul(100).round().max()

42.0

Проверим, как распределены оценки водителей (driver_score). Для подготовки данных выполните следующие шаги:

Посчитайте частоту встречаемости каждой из оценок
Переведите в проценты и округлите до 2 знаков после точки (.mul(100).round(2))
Сбросьте индексы
Переименуйте колонки в driver_score и percentage
Отсортируйте по driver_score в порядке возрастания (от 0 до 5)
Запишите результат в driver_score_counts
Полезные функции:

.mul() – умножение, более удобный вариант для  использования в цепочке методов

.round() – округление

.reset_index() – сбросить индекс

.value_counts() – сколько раз встречается каждое значение переменной

Данные загружены в taxi. 
- **Как сделать это задание?**
    
    Почти так же, как и предыдущее - в начале нужно посчитать частоту значений в колонке `driver_score`, перевести их в проценты, округлить до 2-ого знака, сбросить индекс с помощью `reset_index` и переименовать получившиеся колонки в `driver_score` и `percentage`. После этого нужно отсортировать строки по значениям в колонке `driver_score`
    
- **Как получить долю, а не число встречаний?**
    
    Обратите внимание на параметры `value_counts` из документации (`normalize`)
    
- **Как перевести в проценты**
    
    Для этого нужно умножить долю на 100
    
- **Округление**
    
    Для округления возьмите метод `round`, он действует так
    
    ```python
    df.column1.round(3)
    ```
    
    Такая запись округлит значения в колонке `column1` до 3-его знака
    
- **Как вызывать** `rename`**?**
    
    Для переименования колонок, передайте в метод rename в параметр `columns` словарь, где ключами являются старые названия колонок, а значениями - новые названия.
    
    То есть
    
    ```python
    # задаём словарик
    
    correspondance = {'previous': 'new', 'obsolete': 'modified'}
    df.rename(columns=correspondance)
    ```
    
    Вернёт вам новый датафрэйм, где колонка `previous` будет переименована в колонку `new`, а `obsolete` - в `modified`
    
- **Сортировка датафрэйма**
    
    Для сортировки датафрэйма используется метод `sort_values`. Он принимает название колонки, по которой будет идти сортировка. К примеру,
    
    ```python
    df.sort_values('temp')
    ```
    
    Сортирует строки по колонке `temp`
    
- **Посмотреть разбор**
    
    Посмотреть разбор задания можно по ссылке [https://youtu.be/a1kFxizbJ_0](https://youtu.be/a1kFxizbJ_0)

In [46]:
driver_score_counts = taxi.driver_score\
                        .value_counts(normalize=True)\
                        .mul(100)\
                        .round(2)\
                        .reset_index()\
                        .rename(columns={'index': 'driver_score', 'driver_score': 'percentage'})\
                        .sort_values('driver_score')

In [54]:
driver_score_counts

   driver_score  percentage
2           0.0       14.30
4           1.0        1.23
5           2.0        0.81
3           3.0        2.97
1           4.0       21.88
0           5.0       58.81

Теперь строим график! Сначала импортируем библиотеки:

import seaborn as sns
import matplotlib.pyplot as plt
Укажите, какую из четырех строчек в нижепредставленном коде нужно исправить, чтобы получить следующий график:

ax = sns.barplot(x=driver_score, y=percentage, data=driver_score_counts, color='blue', alpha=0.5)

ax.set(xlabel='Driver score', ylabel='Percentage')

sns.despine()  # убрать часть рамки графика

plt.show()

- **Как делать это задание?**
    
    Попробуйте выполнить код, и посмотрите, получается ли такой график. Если выдаётся ошибка, то обратите внимание, на какой строчке она происходит
    
- **Посмотреть разбор**
    
    Посмотреть разбор задания можно по ссылке [https://youtu.be/AIBuRRW1mb4](https://youtu.be/AIBuRRW1mb4)

In [8]:
import matplotlib
import seaborn as sns
import matplotlib.pyplot as plt

In [9]:
ax = sns.barplot(x='driver_score'y='percentage')
ax.set(xlabel='Driver score', ylabel='Percentage')
sns.despine()  # убрать часть рамки графика
plt.show()

SyntaxError: invalid syntax (Temp/ipykernel_800/4192680036.py, line 1)